<div class="container my-2">
  {{#if loginErrors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{loginErrors}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  {{/if}}
  {{#if urlErrorMsg}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{urlErrorMsg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  {{/if}}
  <form action="/" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="website">請輸入網址</label>
        <input type="url" class="form-control" id="website" name="website" value="{{site.website}}" required>
      </div>
    </div>
    <div class="d-inline-block">
      <button type="submit" class="btn btn-primary">輸入</button>
    </div>
  </form>
</div>

{{#if site}}
<div class="alert alert-info" role="alert">
  <span class="mr-2">縮網址是:</span><code>https://rocky-brook-46774.herokuapp.com/{{site.url}}</code>
</div>
{{/if}}